@model IEnumerable<ClientService.DtoModels.ReservationDTO>

@{
    ViewBag.Title = "ReservationsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ReservationsList</h2>
<table id="reservations" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Reservation Code</th>
            <th>Price</th>
            <th>DateOfCreate</th>
            <th>CheckInDate</th>
            <th>CheckOutDate</th>
            <th>Currency</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var reservation in Model)
        {
            <tr>
                <td>@reservation.ReservationCode</td>
                <td>@reservation.Price</td>
                <td>@reservation.DateOfCreate</td>
                <td>@reservation.CheckInDate</td>
                <td>@reservation.CheckOutDate</td>
                <td>@reservation.Currency</td>
                <td>
                    <button data-reservation-id="@reservation.ID" class="btn-link js-delete">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            /*$("#reservations").ajax({
                url: "/api/reservation/getreservationsasync/",
                method: "GET",
                success: function (result) {
                    var html = "";
                    $.each(result, function (item) {
                        html += "<tr";
                        html += "<td>" + item.ReservationCode + "</td>";
                        html += "<td>" + item.Price + "</td>";
                        html += "<td>" + item.DateOfCreate + "</td>";
                        html += "<td>" + item.CheckInDate + "</td>";
                        html += "<td>" + item.CheckOutDate + "</td>";
                        html += "<td>" + item.Currency + "</td>";
                        html += "<td>Delete</td>";
                        html += "></tr>";
                    });
                    $("tbody").html(html);
                }
            });*/

           /* $("#reservations").DataTable({
                ajax: {
                    url: "/api/reservation/getreservationsasync/",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "reservationCode",
                        render: function(data, reservation){
                            return "<td>" + reservation.reservationCode + "</td>";
                        }
                    },
                    {
                        data: "Price"
                    },
                    {
                        data: "DateOfCreate"
                    },
                    {
                        data: "CheckInDate"
                    },
                    {
                        data: "CheckOutDate"
                    },
                    {
                        data: "Currency"
                    },
                    {
                        data: "ID",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-reservation-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });*/

            $("#reservations").on("click", ".js-delete" ,function () {
                var button = $(this);

                if (confirm("Are you sure")) {
                    $.ajax({
                        url: "/api/reservation/deletereservationasync/" + button.attr("data-reservation-id"),
                        method: "DELETE",
                        success: function () {
                            button.parents("tr").remove();
                        }
                    });
                }
            });
        });
    </script>    
}


